@import "tailwindcss";

html, body, #root {
  height: 100%;
  overflow: hidden;
}

body {
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
}

@theme {
  --animate-shimmer: shimmer 2s infinite;
  @keyframes shimmer {
    0% { transform: translateX(-100%); }
    100% { transform: translateX(100%); }
  }
}
